/*font*/
.estonia-regular {
    font-family: "Estonia", cursive;
    font-weight: 400;
    font-style: normal;
}
  
  
.montserrat{/*title*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
.kanit-medium {/*menu*/
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* 使用 ::selection 改變選取文字的顏色 */
::selection {
    background-color: #A4F364;  /* 文字被選取時的背景顏色 */
    color: #F6633F;  /* 文字顏色 */
}

/* 支援不同瀏覽器的選取效果 */
::-moz-selection {
    background-color: #A4F364;
    color: #F6633F;
}

::-webkit-selection {
    background-color: #A4F364;
    color: #F6633F;
}


body {
    font-family: Noto Sans JP;
    color: #0D0D0D; 
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    min-height: 100vh;
    flex-direction: column;
    background-color: #e2e2e2;
    white-space: pre-line;

    /*換頁*/
    opacity: 0;
    transition: opacity 1s ease-in-out;

}

body.fade-in {
    opacity: 1;
}



header{
    width:100%;
	height: 100px;
	box-sizing: border-box;
	margin: auto;
	
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2000;
}


a{
    text-decoration:none;
    color: #0D0D0D;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:right;
    transition: transform 0.3s ease-in-out; 
    z-index: 100; 
    font-family: Kanit;
    font-size: 1.2rem;

}

#navbar ul {
    display: flex; 
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    margin: 0 15px;
}

#navbar a{
    transition: color 0.3s ease;
}

#navbar a:hover{
    cursor: pointer;
    color: #F6633F;
}

.nav-hide {
    transform: translateY(-100%); 
}

h1{
    position:absolute;
    top: -2rem;
    left: 2rem;
    font-family: "Estonia", cursive;
    font-size: 50px;
    font-weight: 800;
    color: #0D0D0D;
    
}

.nav-pages{
    margin-right: 6rem;
}


.text-box p{
    display: block;
    font-size: 35px;
    font-weight: 500;
    font-family: "Montserrat";
}

.about-img{
    width: 25vw;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.about-img img{
    width: 100%;
    height: 100%;
}

.descriptions{
    display: block;
    width: 80vw;
}


.descriptions p{
    line-height: 1.8rem;    
    text-align: left;       
    font-size: 1rem;        
    color: #727272;         
    word-wrap: break-word; 
    margin: 0 20% 0 20%;              
}

.descriptions p a{ 
    color: #727272;
    font-weight: 800;
    transition: color 0.5s ease;
}

.descriptions p a:hover{ 
    color: #F6633F;
}


.container-link {
    display: block;
}

.container1 {
    width: 80vw;
    max-width: 1200px;
    height: 45vh;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.container1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.container1 .overlay-text {
    position: absolute;
    font-family: "Montserrat";
    color: white;
    font-size: 1.8rem;
    text-align: left;
    z-index: 1; 
    opacity: 0;
    transition: opacity 0.5s ease; 
}

.container1:hover::after {
    opacity: 1;
}

.container1:hover .overlay-text {
    opacity: 1;
}

.container1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: inset(0 round 10px); 
}

.container1-1 {
    width: 65vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.container1-1 img {
    width: 100%;
    object-fit: cover;
}

.container2 {
    width: 65vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding-top: 10px;
}

.container2 img {
    width: 48%;
    height: auto;
    object-fit: cover;
}

.container3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* 每列最多 3 個 */
    /*
    display: flex;
    flex-wrap: wrap;
    */
    gap: 10px;
    justify-content: center; 
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
}


.container3 .item {
    flex: 1 1 calc(33.33% - 10px);
    max-width: 320px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: -15%;

}
   
.container3 .item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.5s ease;
}


.container3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.container3 .overlay-text {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-60%, -60%);
    font-family: "Montserrat";
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
    opacity: 0;
    transition: opacity 0.5s ease; 
    z-index: 2;
}

.container3 .item:hover::after {
    opacity: 1;
    cursor: pointer;
}

.container3 .item:hover .overlay-text {
    opacity: 1;
}



.swiper-container {
    width: 70vw;
    max-width: 1200px;
    height: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    width: 100%;
    height: auto;
  }


  
.swiper-button-next,
.swiper-button-prev {
    color: #0D0D0D !important;
    transition: color 0.8s ease;
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #F6633F !important;
}

.swiper-pagination-bullet{
    background-color: #0D0D0D !important;
}

.menu-icon {
    position:absolute;
    right: 3rem;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 1000;
    color: #0D0D0D;
    transition: opacity 0.4s ease-in-out; 
    transition: color 0.4s ease;
}

.menu-icon:hover {
    color: #F6633F; 
}


.menu-icon.hide {
    opacity: 0;
}

.dropdown-menu {
    position: fixed; /* 固定在畫面右上角 */
    top: 2rem;
    right: 2rem;
    width: 25vw; /* 25% 視窗寬度 */
    height: 50vh; /* 高度設置為視窗的一半 */
    background-color: #333;
    border-radius: 8px;
    opacity: 0; /* 初始為完全透明 */
    transform: scale(0); /* 初始縮小為 0 */
    transform-origin: top right; /* 以右上角為縮放中心 */
    transition: opacity 0.4s ease-in, transform 0.4s ease-out; /* 平滑過渡效果 */
    overflow: hidden;
    padding: 1rem 0 10rem 3rem; /* 上下有更多的內邊距 */
    z-index: 100000;
}

.dropdown-menu.show {
    opacity: 1; /* 顯示時不透明 */
    transform: scale(1); /* 放大到正常大小 */
}

.dropdown-menu ul {
    font-family: Kanit;
    list-style:none;
    padding: 0;
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dropdown-menu ul li {
    margin-bottom: 5%;
}

.dropdown-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.8em;
    transition: color 0.4s ease; /* 漸進的顏色變化 */
}

.dropdown-menu ul li a:hover {
    color: #A4F364; 
}

.close-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 1001; 
    transition: color 0.4s ease;
}

/* 使用::before和::after創建兩條筆畫 */
.close-btn::before,
.close-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 3px;
    background-color: white;
    transition: transform 0.4s ease, width 0.4s ease;
    transform-origin: center;
    border-radius: 2px;
    transform: translate(-50%, -50%); /* 讓兩條筆畫定位在按鈕的中間 */    

}

/* 初始筆畫為水平排列 */
.close-btn::before {
    transform: translate(-50%, -50%) rotate(0deg);
    
}

.close-btn::after {
    transform: translate(-50%, -50%) rotate(0deg);
    
}

/* 當選單顯示時，筆畫變化 */
.dropdown-menu.show .close-btn::before {
    transform: translate(-50%, -50%) rotate(45deg); /* 上筆畫旋轉45度 */
    width: 2rem; /* 擴展筆畫寬度 */
}

.dropdown-menu.show .close-btn::after {
    transform: translate(-50%, -50%) rotate(-45deg); /* 下筆畫旋轉-45度 */
    width: 2rem; /* 擴展筆畫寬度 */
    transition: color 0.4s ease;
}

.close-btn:hover::before,
.close-btn:hover::after {
    background-color: #A4F364; /* 改變筆畫顏色 */
    transition: background-color 0.4s ease-in-out; /* 顏色過渡 */
}

.social-icons {
    display: flex;
    gap: 15px;

}

.social-icons a {
    font-size: 30px;
    color: #fff;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #A4F364; /* 滑鼠移上去變黑色 */
}


.to-top {
    display: none; /* 初始不顯示 */
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 100;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: stroke 0.4s ease-in-out;
  }
  
  .to-top:hover .arrow-circle-up circle,
  .to-top:hover .arrow-circle-up line{
    stroke: #F6633F;
  }

  .to-top:hover .arrow-circle-up path{
    fill: #F6633F;
  }
  

footer {
    font-size: 12px;
    position: relative;
    text-align: center;
    padding: 10px;
    min-height: 60px;
    margin-top: 1%;
}


.cursor {
    position: fixed; /* 使用 fixed 保證它不會受頁面滾動影響 */
    pointer-events: none; /* 讓游標不會干擾到其他元素的點擊事件 */
    z-index: 100000;
    width: 35px; 
    height: 35px; 
    border-radius: 50%; 
    background: linear-gradient(45deg, #F6633F, #A4F364);
    transform: translate(-50%, -50%); /* 確保游標位於鼠標位置的中心 */
    transition: transform 0.3s ease-out; /* 添加平滑過渡效果 */
}

.scroll-indicator {
    margin-top: 40%;
    text-align: center;
    pointer-events: none; /* 防止遮擋到其他元素的點擊 */
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards, bounce 2s ease-in-out infinite;
  }

.styled-line {
    border: 0;
    border-top: 2px solid #A4F364;
    width: 5%;
    margin: 20px auto;
    opacity: 0.7; /* 讓橫線有點透明感 */
    transition: all 0.3s ease; /* 加入過渡效果 */
  }
  
  .styled-line:hover {
    width: 100%; /* 滑鼠懸停時，橫線會變得更寬 */
    opacity: 1; /* 滑鼠懸停時不再透明 */
  }
  
  
  /* scroll down */
  .text {
    display: block;
    font-size: 18px;
    color: #A4F364;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: 0;
    animation: fadeInText 1s ease-in-out 1s forwards, textPulse 2s ease-in-out infinite;
    font-family: Vollkorn;
    transform: rotate(90deg); 
  }
  
  
/* 文字淡入 */
@keyframes fadeInText {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* 文字顏色變化動畫，呼吸感 */
  @keyframes textPulse {
    0%, 100% {
      color: #fff;
    }
    50% {
      color: #A4F364;
    }
  }
  
  /* 整體淡入動畫 */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }  
  
  


 /* RWD 調整 */
/* 手機尺寸 */
@media screen and (max-width: 768px) {

    h1{
        top: -0.9rem;
        left: 1rem;
        font-size: 35px;
    }

    .nav-pages{
        display: none;
    }

    .text-box p{
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-weight: 500;
        text-align: left;
        margin: 0 10% 0 10%;
    }

    .about-img{
        width: 60vw;
    }

    .descriptions p {
        font-size: 0.875rem;
        margin: 0;
    }

    .container1 {
        margin: 0;
        margin-bottom: -5%;
    }

    .overlay-text {
        font-size: 1.2rem;
        margin: 0 5% 0 5%;
    }

    .container1-1 {
        width: 100vw;
    }

    .container2 {
        width: 100vw;
    }

    .container3{
        grid-template-columns: repeat(2, 1fr);
    }

    .container3 .item {
        flex: 1 1 calc(50% - 10px);
        max-width: 100%;
        margin-bottom: -20%;
    }
        
    .container3 .overlay-text {
        top: 40%;
        left: 40%;
        transform: translate(-70%, -70%);
        font-size: 1.1rem;
    }
   
    .menu-icon {
        right: 2rem;
        font-size: 2.5rem;
    }

    .dropdown-menu {
        position: fixed;
        top: 1rem;
        right: 1rem;

        width: 90vw; 
        height: 50vh; 

        padding: 5rem 0 10rem 0;
    }

    .dropdown-menu ul li a {
        font-size: 2em;
    }

    .dropdown-menu ul {
        text-align: center;
    }
    
    .social-icons {
        justify-content: center;  
        align-items: center;      
    
    }
    
    
    

}

/* 平板尺寸 */
@media screen and (min-width: 601px) and (max-width: 900px) {
    .dropdown-menu {
        top: 1rem;
        right: 1rem;

        width: 25vw; /*80vw*/
        height: 50vh; /*vh*/

        padding: 1rem 5rem 13rem 3rem; /* 上下有更多的內邊距 */
        
    }

}

/* 桌面尺寸 */
@media screen and (min-width: 901px) {

}